#top-products {
    position: relative;
    overflow-x: hidden;
    .slick-prev,
    .slick-next {
        width: 35px;
        height: 35px;
        z-index: 100;
        &::before {
            font-size: 35px;
            color: $primary;
        }
    }
    .slick-dots li button:before {
        color: white;
    }
    background-image: url(/statics/images/bgCoffee.jpg);
}