$url-font: '/statics/font/josefin-sans/';
$page-min-height:600px;
$base-font-size: 16;
$navbar-height: 50;
$c-black: #000;
$c-white: #fff;
$c-secondary: #F4B41A;
$c-grey-50: #f3f5f8;
//bootstrap custom variable
$primary: #008248;
$danger: #F34A38;
$danger: #F34A38;
$btn-border-radius: 100px;
$btn-border-radius-sm: 100px;
$btn-border-radius-lg: 100px;
$grid-breakpoints: (xs: 0, ssm:350px, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px);
@import 'react-notifications-component/dist/scss/notification.scss',
"~bootstrap/scss/bootstrap";