$url-font: '/statics/fonts/josefin-sans/';
$page-min-height: calc(100vh - 292px);
$base-font-size: 16;
$navbar-height: 50;
$c-black: #000;
$c-white: #fff;
$c-secondary: #f4b41a;
$c-grey-50: #f3f5f8;
//bootstrap custom variable
$primary: #008248;
$danger: #f34a38;
$danger: #f34a38;
$btn-border-radius: 100px;
$btn-border-radius-sm: 100px;
$btn-border-radius-lg: 100px;
$grid-breakpoints: (
  xs: 0,
  ssm: 350px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
@import '~bootstrap/scss/bootstrap';
