// OrderPage
#order-page {
    .back-button{
        position: absolute;
        font-size: pxToRem(28);
        border: 1px solid $primary;
        border-radius: 50%;
        cursor: pointer;
        color: $primary;
        &:hover{
            background-color: $primary;
            color: white;
        }
    }
}

// Pending
#pending-order {

    th,
    td {
        text-align: center;
    }
}

//Promotion
#admin-promotion{
    th,
    td {
        text-align: center;
    }
}