.dropdown--left:hover .dropdown-menu {
    right: 0;
}

.link--text {
    color: inherit;
    text-decoration: none;
}
.text--link {
    color: $primary;
    text-decoration: underline;
    cursor:pointer;
    &:hover{
        color:#00683a;
    }
}

.cursor--pointer {
    cursor: pointer;
}
.cursor--auto {
    cursor: auto !important;
}
@for $i from 1 through 12 {
    .fs--#{$i} {
        font-size: pxToRem(36-$i*2);
    }

    .fw--#{$i} {
        font-weight: $i*100;
    }
    .min-line--#{$i}{
        line-height: 1.5em;
        min-height: $i*1.5*1em;
    }
}

.fs--logo {
    font-size: pxToRem(50);
}

.w--33 {
    width: 33.33% !important;
}

.w--20 {
    width: 20% !important;
}

.w--16 {
    width: 16.667% !important;
}

.va--text-top {
    vertical-align: text-top;
}

.element--center {
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.w--fit-content {
    width: fit-content !important;
    min-width: fit-content !important;
}

@keyframes hp-fadein {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes hp-fadeout {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

.vertical__block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vertical--center {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.btn-cycle{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding-bottom: 0.1em !important;
}